<div class="container mt-4 bg-light">
    <form class="row g-3 offset-3 ">
        <div class="col-auto">
          <input
            class="form-control form-control-sm"
            type="text"
            placeholder="id"
            aria-label=".form-control-sm example"
          [(ngModel)]="deptToAdd._id"
          name="id"
            />
        </div>
        <div class="col-auto">
          <input
            class="form-control form-control-sm"
            type="text"
            placeholder="name"
            aria-label=".form-control-sm example"
          [(ngModel)]="deptToAdd.name"
          name="name"
            />
        </div>
        <div class="col-auto">
          <input
            class="form-control form-control-sm"
            type="text"
            placeholder="Location"
            aria-label=".form-control-sm example"
          [(ngModel)]="deptToAdd.location"
          name="location"
            />
        </div>
        <div class="col-8 offset-2">
            <button class=" col-6 btn btn-primary btn-sm" (click)="add()">Add</button>
        </div>
      </form>
      
</div>